<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="bg-red-700 rounded-lg shadow-lg p-6 max-w-[500px] w-full relative border-4 border-black">
    <!-- Top section: Pokédex screen frame -->
    <div class="bg-gray-900 rounded-t-lg shadow-inner p-4 text-white">
      <h2 class="text-2xl font-bold text-center">Eliminar Pokémon</h2>
    </div>

    <!-- Main section: Confirmation content -->
    <div class="bg-gray-100 p-4 rounded-b-lg text-center">
      <p class="text-gray-700 text-lg font-bold mb-6">¿Estás seguro que deseas eliminar al Pokémon <span class="text-red-500">{{data.nombre}}</span>?</p>

      <!-- Buttons -->
      <div class="flex justify-center space-x-4">
        <button class="px-4 py-2 bg-gray-600 text-white rounded" (click)="closeModal()">
          Cancelar
        </button>
        <button class="px-4 py-2 bg-blue-500 text-white rounded" (click)="borrarPokemon()">
          Aceptar
        </button>
      </div>
    </div>

    <!-- Pokédex Buttons -->
    <div class="absolute top-2 right-2 flex space-x-2">
      <div class="w-4 h-4 bg-blue-500 rounded-full shadow"></div>
      <div class="w-4 h-4 bg-green-500 rounded-full shadow"></div>
    </div>
  </div>
</div>
