<div class="pokedex-container">
  <div class="pokedex-header">
    <h1>Pokédex</h1>
  </div>

  <div class="pokedex-table">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Avatar</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pokemon of paginatedData">
          <td>{{ pokemon.id }}</td>
          <td>{{ pokemon.nombre }}</td>
          <td>{{ pokemon.avatar }}</td>
          <td>
            <button class="accion" (click)="openInformacion(pokemon)">
              <img src="iconos/busqueda.png" alt="">
            </button>
            <button class="accion" (click)="openInformacion(pokemon)">
              <img src="iconos/lapiz.png" alt="">
            </button>
            <button class="accion" (click)="openInformacion(pokemon)">
              <img src="iconos/borrar.png" alt="">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="pokedex-pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
