<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-red-700 rounded-lg shadow-lg p-6 max-w-[600px] relative border-4 border-black">

      <div class="bg-gray-900 rounded-t-lg shadow-inner p-4">
        <h2 class="text-white text-2xl font-bold text-center mb-2">{{data.name}}</h2>
        <div class="flex items-center justify-center mb-4">
          <img class="w-[150px] h-[150px] rounded-full border-4 border-black shadow-md" src="{{data.avatar}}"
            alt="{{data.name}}" />
        </div>
      </div>
      <!-- Main screen content -->
  
  
      <div class="bg-gray-100 rounded-b-lg p-4">
        <div class="mb-4">
          <h3 class="text-lg font-bold text-red-600 mb-2">Detalles</h3>
        </div>
  
        <div class="grid grid-cols-2 gap-4 mb-4">
          <div class="bg-gray-200 p-2 rounded text-center">
            <p class="font-bold text-gray-700">Nombres</p>
            <p class="text-gray-700">{{data.name}}</p>
          </div>
          <div class="bg-gray-200 p-2 rounded text-center">
            <p class="font-bold text-gray-700">Apellido Paterno</p>
            <p class="text-gray-700">{{data.apellidoP}} m</p>
          </div>
          <div class="bg-gray-200 p-2 rounded text-center">
            <p class="font-bold text-gray-700">Apellido Materno</p>
            <p class="text-gray-700">{{data.apellidoM}}</p>
          </div>
          <div class="bg-gray-200 p-2 rounded text-center">
            <p class="font-bold text-gray-700">Correo Electronico</p>
            <p class="text-gray-700">{{data.email}}</p>
          </div>
          <div class="bg-gray-200 p-2 rounded text-center">
            <p class="font-bold text-gray-700">Télefono</p>
            <p class="text-gray-700">{{data.phone}}</p>
          </div>
        </div>

      <!-- Usuarios buttons -->
      <div class="absolute top-2 right-2 flex space-x-2">
        <div class="w-4 h-4 bg-blue-500 rounded-full shadow"></div>
        <div class="w-4 h-4 bg-green-500 rounded-full shadow"></div>
      </div>
      <div class="absolute bottom-2 right-2">
        <button class="px-4 py-2 bg-red-600 text-white rounded" (click)="closeModal()">
          Cerrar
        </button>
      </div>
    </div>
  </div>